beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.5
cryptography==3.4.7
idna==3.1
msedge-selenium-tools==3.141.3
numpy==1.20.3
pandas==1.2.4
pip==21.1.1
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
selenium==3.141.0
setuptools==52.0.0.post20210125
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.5
wget==3.2
wheel==0.36.2
